@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #85c7f2;
    --foreground: #374a5d;

    --card: #ee866e;
    --card-foreground: #374a5d;

    --popover: #f7d065;
    --popover-foreground: #374a5d;

    --primary: #d1d1d1;
    --primary-foreground: #374a5d;

    --secondary: #ffffff;
    --secondary-foreground: #374a5d;

    --muted: #d1d1d1;
    --muted-foreground: #374a5d;

    --accent: #f7d065;
    --accent-foreground: #374a5d;

    --destructive: #ee866e;
    --destructive-foreground: #374a5d;

    --border: #374a5d;
    --input: #374a5d;
    --ring: #374a5d;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
