@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(#0d1921);
    --foreground: hsl(#ced9e1);

    --card: hsl(#bd8d13);
    --card-foreground: hsl(#040f16);

    --popover: hsl(#f7d065);
    --popover-foreground: hsl(#ced9e1);

    --primary: hsl(#d92a2a);
    --primary-foreground: hsl(#ced9e1);

    --secondary: hsl(#4d278b);
    --secondary-foreground: hsl(#ced9e1);

    --muted: hsl(#4c9c4a);
    --muted-foreground: hsl(#ced9e1);

    --accent: hsl(#f7d065);
    --accent-foreground: hsl(#ced9e1);

    --destructive: hsl(#835a4d);
    --destructive-foreground: hsl(#ced9e1);

    --border: hsl(#374a5d);
    --input: hsl(#374a5d);
    --ring: hsl(#374a5d);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
