@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #85c7f2;
    --foreground: #374a5d;

    --card: #ee866e;
    --card-foreground: #374a5d;

    --popover: #f7d065;
    --popover-foreground: #374a5d;

    --primary: #d1d1d1;
    --primary-foreground: #374a5d;

    --secondary: #ffffff;
    --secondary-foreground: #374a5d;

    --muted: #d1d1d1;
    --muted-foreground: #374a5d;

    --accent: #f7d065;
    --accent-foreground: #374a5d;

    --destructive: #ee866e;
    --destructive-foreground: #374a5d;

    --border: #374a5d;
    --input: #374a5d;
    --ring: #374a5d;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
